#jinja2:lstrip_blocks: True
<?xml version="1.0"?>
<!-- {{ ansible_managed }} -->
<yandex>
  <macros>
  	<cluster>{{ clickhouse_cluster_name }}</cluster>
    <shard>{{ hostvars[inventory_hostname]['ch_shard'] }}</shard>
    <replica>{{ hostvars[inventory_hostname]['ch_fqdn'] }}</replica>
  </macros>
</yandex>